@import "../utils/variables";
@import "../utils/mixins";
.button {
    grid-column: 2 / 3;
    text-align: right;
}

.button button {
    box-shadow: none;
    background-color: $blue-primary;
    @include gradient($blue-primary, $blue-secondary, vertical);
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
    height: 30px;
    min-width: 120px;
    @include border($blue-border);
    color: $white;
}

.button button:hover {
    background-color: $blue-state;
    @include gradient($blue-primary, $blue-state, vertical);
    @include border($border-state);
    border-image: initial;
}

.button button:active {
    box-shadow: inset 0 1px 2px $box-shadow;
    background: $blue-state;
    @include border($border-state);
}

.button button:focus {
    box-shadow: inset 0 0 0 1px $white;
    @include border($black-focus);
    outline: $black-focus 0;
}