@import "../utils/variables";
@import "../layouts/nav";
@import "../layouts/bar";
body,
html {
    padding: 0;
    margin: 0;
    font-family: $arial-font;
    font-size: 13px;
}

#logo {
    padding-top: 152px;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 272px;
}

span {
    color: $blue-main;
    font: 16px/16px roboto-regular, arial, sans-serif;
    right: 0;
    position: absolute;
    bottom: 0;
}