// colors main page
$white: #fff;
$grey-border: #dfe1e5;
$border-shadow: rgba(32, 33, 36, 0.28);
$border-on-hover: rgba(223, 225, 229, 0);
$white5: #f5f5f5;
$white1: #f1f1f1;
$white2: #f2f2f2;
$button-text: #5F6368;
$button-shadow: rgba(0, 0, 0, 0.1);
$white8: #f8f8f8;
$grey6: #c6c6c6;
$light-black: #222;
$blue-main: #4285f4;
// colors advanced page
$comment-color: #777;
$input-border: #d9d9d9;
$border-top: #c0c0c0;
$box-shadow: rgba(0, 0, 0, 0.3);
$example-color: #666;
$blue-primary: #4d90fe;
$blue-secondary: #4787ed;
$blue-border: #3079ed;
$border-bottom: #ebebeb;
$blue-state: #357ae8;
$border-state: #2f5bb7;
$black-focus: rgba(0, 0, 0, 0);
$red-bar: #d93025;
$arial-font: arial,
sans-serif;